$default_fontsize: 40px;
$default_animate_time: 1s;

@function pxToRem($n:0) {
    @if unit($n)=='px' {
        @return $n/ $default_fontsize * 1rem;
    }
    @else {
        @return ($n * 1px) / $default_fontsize * 1rem;
    }
}

@mixin mySprite($sprite) {
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: pxToRem(nth($sprite, 1)) pxToRem(nth($sprite, 2));
    width: pxToRem(nth($sprite, 3));
    height: pxToRem(nth($sprite, 4));
}

html,
body,
h2,
ul,
li,
dl,
dt,
dd {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}
